.DS_Store
xcuserdata
xcuserdata/*
*.xcuserstate
*.xcodeproj/xcshareddata/
secrets.txt

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
# Xcode User Data
*.xcuserdatad
xcuserdata/

# Firebase config files
GoogleService-Info.plist

# Xcode build
build/
DerivedData/
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
Packages/
.swiftpm/
